In [ ]:
#176 第二高的薪水
SELECT DISTINCT
    Salary AS SecondHighestSalary
FROM
    Employee
ORDER BY Salary DESC
LIMIT 1 OFFSET 1

SELECT
    (SELECT DISTINCT
         Salary
     FROM
         Employee
     ORDER BY Salary DESC
     LIMIT 1 OFFSET 1) AS SecondHighestSalary
;

In [ ]:
CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
BEGIN
DECLARE M INT;
    SET M = N-1;
RETURN (
    SELECT DISTINCT salary
    FROM Employee
    ORDER BY salary DESC
    LIMIT M, 1
    );
END

In [ ]:
-- 180. 连续出现的数字
SELECT DISTINCT a.num
FROM Logs a
JOIN Logs b ON a.id = b.id - 1
JOIN Logs c ON b.id = c.id - 1
WHERE a.num = b.num
  AND b.num = c.num;


WITH ConsecutiveLogs AS (
    SELECT
        id,
        num,
        LAG(num, 1) OVER (ORDER BY id) AS prev_num,
        LEAD(num, 1) OVER (ORDER BY id) AS next_num
    FROM Logs
)
SELECT DISTINCT num
FROM ConsecutiveLogs
WHERE (num = prev_num AND num = next_num);

In [ ]:
-- 183. 从不订购的客户
select name as customers from customers where id not in (
    select distinct customerId from orders
)

select a.name as customers from customers a 
left join orders b
on a.id = b.customerId
where b.customerid is null

In [ ]:
-- 196. 删除重复的电子邮箱
DELETE FROM Person
WHERE id NOT IN (
   SELECT id FROM (
       SELECT MIN(id) AS id FROM Person GROUP BY email
   ) AS u
);
-- 笛卡尔积 非等值筛选
delete u
from Person u , Person v
where v.id < u.id and u.email = v.email

In [ ]:
-- 197. 上升的温度
select a.id from weather a, weather b
where a.recorddate = DATE_ADD(b.recorddate, INTERVAL 1 DAY)
and a.temperature > b.temperature