In [ ]:
-- @branch
-- if
USE sql_store;
SELECT
    order_id,
    order_date,
    IF(
        YEAR(order_date) = YEAR(DATE_SUB(NOW(), INTERVAL 4 YEAR)),
        'Active',
        'Archived'
    ) AS category
FROM orders;

USE sql_store;
SELECT
    product_id,
    name,
    COUNT(*) AS order_times,
    IF(
        COUNT(*) > 1,
        'Many times',
        'Once'
    ) AS frequency
FROM products
JOIN order_items USING (product_id)
GROUP BY product_id, name;
USE sql_store;
-- if null
SELECT
    order_id,
    IFNULL(shipper_id, 'Not resigned') AS shipper,
    COALESCE(shipper_id, comments, 'Not resigned') AS shipper2
FROM orders;
-- case
USE sql_store;
SELECT
    order_id,
    order_date,
    CASE
        WHEN YEAR(order_date) = YEAR(NOW()) THEN 'Active'
        WHEN YEAR(order_date) = YEAR(NOW()) - 1 THEN 'Last year'
        WHEN YEAR(order_date) < YEAR(NOW()) - 1 THEN 'Archived'
        ELSE 'Future'
    END AS category
FROM orders

In [ ]:
-- date
SELECT NOW();

SELECT CURDATE();

SELECT CURTIME();

SELECT YEAR(NOW());

SELECT DAYNAME(NOW());

SELECT MONTHNAME(NOW());

SELECT EXTRACT(YEAR FROM NOW());

-- https://dev.mysql.com/doc/refman/8.0/en/date-and-time-functions.html

-- example
USE sql_store;
SELECT *
FROM orders
WHERE YEAR(order_date) = YEAR(NOW());

-- format
SELECT DATE_FORMAT(NOW(), '%M %d %Y');

SELECT TIME_FORMAT(NOW(), '%H:%i %p');

-- calculate
SELECT DATE_ADD(NOW(), INTERVAL 1 YEAR);

In [ ]:
-- number
SELECT ROUND(3.14, 1);

SELECT CEILING(5.2);

SELECT FLOOR(3.2);

SELECT ABS(-1.3);

SELECT RAND(100)

-- https://dev.mysql.com/doc/refman/8.0/en/numeric-functions.html

In [ ]:
-- string
SELECT UPPER('sky');

SELECT LOWER('Sky');

SELECT LTRIM('  sky');

SELECT RTRIM('  sky ');

SELECT TRIM('  sky  ');

SELECT LEFT('Kindergarten', 4);

SELECT SUBSTRING('Kindergarten', 4, 4);

SELECT LOCATE('q','Kindergarten'); -- get 0

SELECT REPLACE('Kindergarten', 'garten', 'garden');

SELECT CONCAT('first', 'last');

-- https://dev.mysql.com/doc/refman/8.0/en/string-functions.html